<div class="Forgot_handlebars">
  <form class="text_forgot" method="POST">
    <h4 class="title_forgot">Mot de passe oublié</h4>
    <p>Entrer votre adresse email</p>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Email" autofocus>
    <br>
    <button type="submit">Nouveau de mot de passe</button>
  </form>
</div>
