<div class="login_handlebars">
  <div class="text">  
    <h4>Se connecter</h4>

    <form method="POST">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="Email" autofocus>
      <label for="password">Mot de passe</label>
      <input type="password" name="password" id="password" placeholder="Mot de passe">
      <p><a href="/forgot">Mot de passe oublié ?</a></p>
      <button type="submit">Se connecter</button>
    </form>

    <hr style="display:none">

    <a href="/auth/facebook">Se connecter avec Facebook</a>
    <br>
    <a href="/auth/twitter">Se connecter avec Twitter</a>
    <br>
    <a href="/auth/google">Se connecter avec Google</a>
    <br>

    <p>Pas de compte ? <a href="/signup">S'inscrire</a></p>
  </div>
</div>

