<div class="container">
  <h4>Profil</h4>
  <form method="POST" action="/account?_method=PUT">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" value="{{user.email}}">
    <label for="name">Nom</label>
    <input type="text" name="name" id="name" value="{{user.name}}">
    <label>Image de profil</label>
    <img srcset="{{user.picture}}, {{user.gravatar}}" class="gravatar" width="100" height="100">
    <br>
    <button type="submit">sauvegarder</button>
  </form>
  <h4>Changer le mot de passe</h4>
  <form method="POST" action="/account?_method=PUT">
    <label for="password">Nouveau mot de passe</label>
    <input type="password" name="password" id="password">
    <label for="confirm">Confirmer le mot de passe</label>
    <input type="password" name="confirm" id="confirm">
    <br>
    <button type="submit">Changer le mot de passe</button>
  </form>
  <h4>Supprimer le compte</h4>
  <form method="POST" action="/account?_method=DELETE">
    <p>Vous pouvez supprimer votre compte mais cette action est irreversible.</p>
    <button type="submit">Supprimer mon compte</button>
  </form>
</div>
