<div class="container">

  <h4>Nouveau mot de passe</h4>

  <form method="POST">
    <label for="password">New Password</label>
    <input type="password" name="password" id="password" placeholder="New password" autofocus>
    <label for="confirm">Confirm Password</label>
    <input type="password" name="confirm" id="confirm" placeholder="Confirm password">
    <br>
    <button type="submit">Change Password</button>
  </form>
</div>
