<div class="signup_page">
  <div class="creat_acount">
    <h4>Créer un compte</h4>

    <hr style="display:none">

  <form method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Email" autofocus>
    <label for="Name">Name</label>
    <input type="text" name="name" id="name" placeholder="Name">
    <label for="password">Mot de passe</label>
    <input type="password" name="password" id="password" placeholder="Password">
    <p>En vous inscrivant vous accepter les <a class="lien" href="/">règles mise en place</a>.</p>
    <button type="submit">Créer un compte</button>
  </form> 

    <a class="lien" href="/auth/facebook">S'inscrire avec Facebook</a>
    <br>
    <a class="lien" href="/auth/twitter">S'inscrire avec Twitter</a>
    <br>
    <a class="lien" href="/auth/google">S'inscrire avec Google</a>
    <br>

    <p>Déjà un compte ? <a class="lien" href="/login">Ce connecter</a></p>

  </div>
  <div class="video">  
      <iframe width="569" height="320" src="https://www.youtube.com/embed/F3-BuVnMf1Q?list=PLO4LAs7TNHJ_aPk_O8vw8q2m_GSGGlMDW" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>


