<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Toal_war</title>
<title>{{title}}</title>
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/flexboxgrid.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/mycss.css">
<style>
  @font-face { 
    font-family: "Bubblegum"; 
    src: url("css/Bubblegum.ttf"); 
  } 
</style>
</head>
<body style="background-color: black; color: white">
{{> header}}
{{{body}}}
{{> footer}}
<script src="/js/main.js"></script>
</body>
</html>
