<div class="container">
  <p>Francais</p>
  <br>
  <p>Librairie graphique: Isomer.js</p>
  <p>Musique d'attente:  LSF 7th Gear Remix</p>
  <p>Musique de jeu: Cascade Kubbi</p>
  <p>Pour toutes réclamations veuillez envoyer un mail à l'adresse suivante: thibaud.salsa@epitech.eu</p>
  <br>
  <p>English</p>
  <br>
  <p> Graphic library: Isomer.js </p>
  <p> Music on hold:  LSF 7th Gear Remix</p>
  <p> Play music: Cascade Kubbi</p>
  <p> For all complaints please send an email to the following address: thibaud.salsa@epitech.eu </ >
</div>
