{{#if user}}


<!--Recherche de partie-->
<div style="color: black">
<canvas id="canvas01" width="500" height="490" style="position: absolute; padding-top: 175px; z-index: 0"></canvas>
<canvas id="canvas02" width="500" height="490" style="position: absolute; right: 0;  padding-top: 175px; z-index: 0"></canvas>
<p id="wait" style="color: white; font-size: 50px; font-family: Bubblegum; width: 40%; padding-left: 30%; padding-top: 10%; display: none; z-index: 1; text-align: center;">Recherche de partie ...</p>



<!--Matchmaking-->
<div id="choose" style="font-family: Bubblegum; font-size: 50px; width: 40%; padding-left: 30%; z-index: 1; padding-top: 10%; text-align: center;">
    <p style="color: white;">Choisissez votre nation</p>
    <select id="choose_nation">
    </select>
    <button onclick="try_connect()">
        Aller au combat
    </button>
</div>





<!-- Victoire -->
<div id="victory" style="color: white; font-size: 50px; font-family: Bubblegum; width: 40%; padding-left: 30%; padding-top: 10%; display: none; z-index: 1; text-align: center;">
    <p id="winner"></p>
    <button onclick="replay()">Rejouer</button>
</div>




<!-- Gameplay -->
<div id="display_game" style="display: none">
    <div id="gameplay" style="background: white; width: 20%; position:absolute">
        <label for="information">Information</label>
        <p readonly id="information" style="color: red;"></p>
        <label >Votre ville: <p id="couleur_ville"></p></label>
        <p id="argent">Argent: 200</p>
        <p id="cité">Cité: 200pv</p>
        <p>Soldat: <span id="soldat">0</span> <button onclick="order('buy', 'soldat', 1)">Acheter un soldat</button></p>
        <p>Char: <span id="char">0</span>  <button onclick="order('buy', 'char', 1)">Acheter un char</button></p>
        <p>Avion: <span id="avion">0</span> <button onclick="order('buy', 'avion', 1)">Acheter un avion</button></p>
        <div><p class="en_right">Attaquer à droite</p>
        <select id="attaque_right_nb">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>25</option>
            <option>50</option>
            <option>100</option>
            </select>
        <select id="attaque_right_unit">
            <option>soldat</option>
            <option>char</option>
            <option>avion</option>
        </select>
        <button onclick="attack('right')" class="en_right">Attaquer à droite</button></div>
        <div><p class="en_left">Attaquer à gauche</p>
        <select id="attaque_left_nb">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>25</option>
            <option>50</option>
            <option>100</option>
            </select>
        <select id="attaque_left_unit">
            <option>soldat</option>
            <option>char</option>
            <option>avion</option>
        </select>
        <button onclick="attack('left')" class="en_left">Attaquer à gauche</button></div>
        <div>
            <p>Cartes</p>
            <div id="carte_display"></div>
            <select id="len_carte">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
            <button onclick="order('use', 'carte', parseInt(document.getElementById('len_carte').value, 10))">Utiliser la carte</button>
            <button onclick="order('buy', 'carte', 1)">Acheter un atout</button>
        </div>
    </div>
    <canvas width="1000" height="750" id="art" style="padding-left: 40%"></canvas>
</div>
<audio id="sound" src="menu.ogg" autoplay loop></audio>
</div>


















<script src="js/co.js"></script>
<script src=js/nation.js></script>
<script src="isomer/dist/isomer.min.js"></script>
<script src="js/game_lib.js"></script>
<script src="js/game.js"></script>

{{else}}
{{/if}}