{{#if user}}
<div>
    <p id="argent">Argent: 200<br>Cité: 200pv</p>
    <button onclick="">Acheter un soldat (50)</button>
    <button onclick="">Acheter un char (50)</button>
    <button onclick="">Acheter un avion (50)</button>
</div>
<canvas width="1000" height="800" id="art" style="padding-right: 5%"></canvas>
<script>
    var wss = new WebSocket('wss://0.0.0.0:40510');
    wss.onopen = function () {
        console.log('websocket is connected ...');
        wss.send('connected');
    };
    wss.onmessage = function (ev) {console.log(ev);};
</script>
<script src="isomer/dist/isomer.min.js"></script>
<script src="js/game_lib.js"></script>
<script src="js/game.js"></script>

{{else}}
{{/if}}